* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}



/* header Style Hint */

header{

    background: rgba(229, 84, 115, 0.10);
    display: flex;
    position: relative;

    

}

.header-content{
    padding-top: 200px;
    padding-left: 240px;
    padding-bottom: 165px;
}
.header-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    line-height: normal;

}
.header-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;

}





.main-btn{
    border-radius: 8px;
    background: #E55473;
    padding: 10px 30px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.header-pic{
    padding-top: 50px;
    padding-right: 200px;
    

}
.header-main-pic{
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 240px;
    padding-bottom: 0;
}
/* header section end */

/* main section style hint */

.hot-deal{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
}

.hot-deal-content{
    padding-top: 230px;
    padding-bottom: 100px;
    padding-left: 400px;
    padding-right: 185px;
    text-align: center;

}

.hot-deal-title{
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-bottom: 25px;
}
.off-style{
    color: #E55473;
}
.hot-deal-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 25px;
}
.hot-deal-pic{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 320px;
}


/* footer style hint */
footer{
    text-align: center;
    background: #111010;

}
.footer-title{
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    padding-top: 130px;
    padding-bottom: 25px;
}
.shop{
    color: white;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 32px;
}
.footer-copyright{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 130px;

}

/* instagram section */

.instagram{
    text-align: center;
}

.instagram-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-top: 130px;
    padding-bottom: 25px;

}

.instagram-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 48px;

}
.ins-img-continer{
    display: flex;
    gap: 25px;
    padding-bottom: 128px;
    padding-left: 240px;
    padding-right: 240px;
}



.set-tree{
    text-align: center;
}

.set-tree-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-top: 130px;
    padding-bottom: 25px;

}

.set-tree-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 48px;

}

.set-tree-continer{
    display: flex;
    gap: 25px;
    padding-bottom: 25px;
    padding-left: 240px;
    padding-right: 240px;

    

}
.set-tree-img1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 100%;

}
.set-tree-img2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 100%;
}

.set-tree-img3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 100%;

}
.set-tree-text-continer{
    display: flex;
    gap: 25px;
    padding-bottom: 128px;
    padding-left: 240px;
    padding-right: 240px;

}

.set-tree-text{
    width: 100%;
    text-decoration: underline;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
}
